/* GENERAL */
* {
  margin: 0;
  padding: 0; }

html {
  overflow-x: hidden; }

main {
  margin-top: 105px;
  margin-bottom: 50px; }

/* FIN GENERAL */
/* INICIO-HEADER */
header, .navbar {
  background-color: white; }

.navbar {
  box-shadow: 0px 0px 40px gray; }
  .navbar .navbar-nav li {
    padding: 0 24px;
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
    font-weight: 500; }
    .navbar .navbar-nav li .active {
      border-bottom: 3px solid #343a40; }
    .navbar .navbar-nav li .navbar-nav li a:hover {
      transform: scale(1.1);
      border-bottom: 3px solid #343a40;
      transition: all 0.5s; }
  .navbar .navbar-brand:hover {
    transform: scale(1.1);
    transition: all 0.5s; }

nav span {
  font-size: 1.25rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #343a40; }

/* FIN-HEADER */
/* INICIO-FOOTER */
footer {
  color: white;
  background-color: #343a40;
  width: 100%;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-right: 0;
  margin-left: 0; }
  footer p {
    font-size: 1rem;
    text-align: center;
    padding-top: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 400; }
  footer .footerSecciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 80%;
    padding-top: 20px; }
    footer .footerSecciones a {
      font-size: 3rem;
      padding: 0 10px;
      color: white; }
      footer .footerSecciones a i:hover {
        transform: scale(1.1); }
    footer .footerSecciones h3 {
      font-size: 1.25rem;
      font-family: "Poppins", sans-serif;
      text-align: center;
      font-weight: 400; }
    footer .footerSecciones .footerSecciones__titulo {
      padding-bottom: 20px; }
  footer .modal-title, footer .modal-body {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    color: #343a40; }

/* FIN-FOOTER */
/* SUBTITULOS COMPARTIDOS */
.subtitulos {
  color: white;
  background-color: #343a40;
  /* MIXIN */
  margin: 25px 0;
  box-shadow: 0px 10px 10px -6px gray; }
  .subtitulos h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
    padding: 5px 0; }

/* FIN SUBTITULOS COMPARTIDOS */
/* MEDIA QUERIES COMPARTIDAS */
@media screen and (max-width: 768px) {
  html {
    overflow-x: hidden; }
  nav span {
    font-size: 1rem; }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .navbar-nav li:hover {
    transform: scale(1); }
  .subtitulos {
    margin: 25px 0; }
    .subtitulos h2 {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 1.25rem;
      text-align: center;
      padding: 5px 0; }
  footer {
    margin-top: 40px;
    display: flex;
    flex-direction: column; }
    footer .footerSecciones {
      width: 100%; } }

/* FIN MEDIA QUERIES COMPARTIDAS */
/* INICIO-PAGINA RECETIPS */
.recetip, .recetip-reverse {
  justify-content: space-around;
  align-items: center;
  font-family: "Poppins", sans-serif; }
  .recetip .recetip__img, .recetip-reverse .recetip__img {
    width: 60%;
    display: flex;
    flex-wrap: nowrap; }
    .recetip .recetip__img img, .recetip-reverse .recetip__img img {
      width: 25%;
      height: auto;
      filter: drop-shadow(5px 5px 10px #444);
      margin: auto; }
  .recetip .recetip__p, .recetip-reverse .recetip__p {
    width: 40%;
    padding: 20px 30px 20px 0; }
    .recetip .recetip__p h4, .recetip-reverse .recetip__p h4 {
      font-size: 1.4rem;
      font-weight: 500;
      padding: 20px 0;
      text-align: center; }
    .recetip .recetip__p li, .recetip-reverse .recetip__p li {
      font-size: 1.1rem;
      padding: 15px 0;
      text-align: center; }

.recetip-reverse {
  flex-direction: row-reverse; }

.recetip-reverse .recetip__p {
  padding: 20px 0 20px 40px; }

/* FIN-PAGINA RECETIPS */
/* MEDIA QUERIES RECETIPS */
@media screen and (max-width: 600px) {
  .recetip, .recetip-reverse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%; }
    .recetip .recetip__img, .recetip-reverse .recetip__img {
      width: 100%;
      margin: 10px; }
      .recetip .recetip__img img, .recetip-reverse .recetip__img img {
        max-width: 80%;
        height: auto;
        margin: 5px 5px 0 5px; }
    .recetip .recetip__p, .recetip-reverse .recetip__p {
      width: 100%;
      padding: 10px; }
      .recetip .recetip__p h4, .recetip-reverse .recetip__p h4 {
        font-size: 1.2rem;
        padding: 10px 0; }
      .recetip .recetip__p li, .recetip-reverse .recetip__p li {
        font-size: 1rem;
        padding: 10px 0; } }

/* INICIO-PAGINA PRODUCTOS */
.subtitulosProductos {
  font-size: 1.4em;
  font-weight: 500;
  text-align: center;
  padding-top: 15px; }

.ingredientes, .precio {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  text-align: center; }

.ingredientes {
  font-weight: 400;
  padding: 0 10px; }

.precio {
  font-weight: 500;
  border: 1px solid #343a40;
  padding: 5px 10px;
  margin: 0 10px; }

.seccionGranolas, .recetip, .recetip-reverse, .seccionMix, .seccionBarras {
  color: #343a40;
  background-color: #f5f3ec;
  padding: 30px 20px;
  margin: 0 20px;
  display: flex;
  flex-wrap: nowrap;
  box-shadow: 0px 10px 10px -6px gray; }
  .seccionGranolas div, .recetip div, .recetip-reverse div, .seccionMix div, .seccionBarras div {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
    .seccionGranolas div .imgGranolas, .recetip div .imgGranolas, .recetip-reverse div .imgGranolas, .seccionMix div .imgGranolas, .seccionBarras div .imgGranolas {
      max-width: 50%;
      height: auto;
      filter: drop-shadow(5px 5px 10px #444); }
  .seccionGranolas div:hover, .recetip div:hover, .recetip-reverse div:hover, .seccionMix div:hover, .seccionBarras div:hover {
    transform: scale(1.05);
    transition: all 1.5s; }

.seccionMix div, .seccionBarras div {
  width: 25%;
  justify-content: flex-start; }

.imgProductos {
  max-width: 70%;
  height: auto;
  filter: drop-shadow(5px 5px 10px #444); }

/* FIN-PAGINA PRODUCTOS */
/* MEDIA QUERIES PRODUCTOS */
@media screen and (max-width: 600px) {
  .seccionGranolas, .recetip, .recetip-reverse, .seccionMix, .seccionBarras, .seccionMix, .seccionBarras {
    display: flex;
    flex-direction: column;
    width: 90%; }
    .seccionGranolas div, .recetip div, .recetip-reverse div, .seccionMix div, .seccionBarras div, .seccionMix div, .seccionBarras div {
      width: 100%; }
    .seccionGranolas div:hover, .recetip div:hover, .recetip-reverse div:hover, .seccionMix div:hover, .seccionBarras div:hover, .seccionMix div:hover, .seccionBarras div:hover {
      transform: scale(1); } }

/* INICIO-PAGINA PREGUNTAS FRECUENTES */
.mainPreguntas {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 120px;
  justify-content: space-around; }
  .mainPreguntas .sectionPreguntas {
    margin-top: 20px;
    width: 50%;
    font-family: "Poppins", sans-serif; }
    .mainPreguntas .sectionPreguntas .card-header {
      background-color: #f5f3ec;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      filter: drop-shadow(5px 5px 10px rgba(68, 68, 68, 0.24)); }
      .mainPreguntas .sectionPreguntas .card-header .btn {
        color: #343a40;
        text-decoration: none;
        font-size: 1rem; }
    .mainPreguntas .sectionPreguntas .card-body {
      font-size: 1em;
      color: #343a40; }
      .mainPreguntas .sectionPreguntas .card-body .btn {
        background-color: #f5f3ec; }
      .mainPreguntas .sectionPreguntas .card-body a {
        color: #343a40; }
  .mainPreguntas .sectionCarousel {
    width: 40%;
    margin-top: 20px; }
    .mainPreguntas .sectionCarousel .carousel {
      filter: drop-shadow(5px 5px 10px #444); }

/* FIN-PAGINA PREGUNTAS FRECUENTES */
/* MEDIA QUERIES PREGUNTAS FRECUENTES */
@media screen and (max-width: 768px) {
  .mainPreguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .mainPreguntas .sectionPreguntas {
      width: 90%; }
      .mainPreguntas .sectionPreguntas .card-header {
        padding: 5px; }
        .mainPreguntas .sectionPreguntas .card-header .btn {
          font-weight: 500;
          padding: 10px 0 10px 0; }
    .mainPreguntas .sectionCarousel {
      width: 90%; } }

/* FIN MEDIA QUERIES PREGUNTAS FRECUENTES */
/* INICIO-PAGINA INDEX */
.inicio {
  margin-top: 100px;
  height: 500px;
  background-image: url(../images/fondo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  position: relative;
  display: block;
  box-shadow: 0px 10px 10px -6px gray; }
  .inicio .inicio__opacidad {
    position: absolute;
    margin-top: 150px;
    background-color: white;
    opacity: 0.5;
    height: 200px;
    width: 100%; }
  .inicio .inicio__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    margin-top: 180px; }
    .inicio .inicio__info p {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 2.5rem;
      color: #343a40; }
    .inicio .inicio__info button:hover {
      transform: scale(1.1); }

.descripcionPuro {
  display: flex;
  margin: 0 20px 20px 20px;
  padding: 30px;
  color: #343a40;
  background-color: #f5f3ec;
  box-shadow: 0px 10px 10px -6px gray;
  /* INCLUYO MIXIN */ }
  .descripcionPuro .descripcionPuro__imagen {
    width: 50%; }
    .descripcionPuro .descripcionPuro__imagen img {
      filter: drop-shadow(5px 5px 10px #444);
      max-width: 80%;
      height: auto;
      text-align: center;
      display: block;
      margin: auto; }
  .descripcionPuro .descripcionPuro__parrafo {
    width: 50%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; }
    .descripcionPuro .descripcionPuro__parrafo p {
      font-size: 1.2em;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      line-height: 40px; }

.animate__animated .animate__fadeInLeftBig {
  animation-iteration-count: 1; }

.animate__animated .animate__fadeInRightBig {
  animation-iteration-count: 1; }

.animate__animated .animate__backInRight {
  animation-iteration-count: 1; }

.animate__animated .animate__backInLeft {
  animation-iteration-count: 1; }

.comoHagoMiPedido {
  color: #343a40;
  background-color: #f5f3ec;
  box-shadow: 0px 10px 10px -6px gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  margin: 0 20px 20px 20px; }
  .comoHagoMiPedido .comoHagoMiPedido__iconos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px; }
  .comoHagoMiPedido h3 {
    text-align: center;
    font-size: 1.4em;
    font-family: "Poppins", sans-serif;
    font-weight: 500; }
  .comoHagoMiPedido .iconos {
    font-size: 5em;
    padding-bottom: 20px; }

/* INICIO BOTONES INDEX */
.botonIndex {
  box-shadow: 0px 10px 10px -6px gray; }
  .botonIndex a {
    font-family: "Poppins", sans-serif;
    color: white;
    text-decoration: none; }

.botonIndex:hover {
  transform: scale(1.1); }

.botonWsp {
  position: fixed;
  right: 30px;
  bottom: 30px;
  border-color: #1ad03f; }
  .botonWsp a i {
    font-size: 3.5rem; }
  .botonWsp .btn {
    background-color: #1ad03f;
    border-color: #1ad03f;
    border-radius: 50%; }

/* FIN BOTONES INDEX */
/* FIN-PAGINA INDEX */
/* INICIO MEDIA QUERIES INDEX */
@media screen and (max-width: 600px) {
  .inicio .inicio__info p {
    font-size: 1.5em; }
  .descripcionPuro {
    width: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column; }
    .descripcionPuro .descripcionPuro__imagen {
      width: 100%; }
      .descripcionPuro .descripcionPuro__imagen img {
        width: 100%;
        height: auto;
        display: block;
        margin: auto; }
    .descripcionPuro .descripcionPuro__parrafo {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .descripcionPuro .descripcionPuro__parrafo p {
        text-align: center;
        font-size: 1em;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        line-height: 1.5em;
        padding-top: 20px; }
      .descripcionPuro .descripcionPuro__parrafo button {
        margin: 5px 0; }
  .comoHagoMiPedido {
    display: flex;
    flex-direction: column;
    align-items: space-around; }
    .comoHagoMiPedido h3 {
      font-size: 1.2em; }
    .comoHagoMiPedido div {
      padding: 5px 0 10px 0; }
    .comoHagoMiPedido .comoHagoMiPedido__iconos {
      font-size: 4em; } }

/* FIN MEDIA QUERIES INDEX */
/* INCIO-PAGINA CONTACTO */
.contacto {
  display: flex;
  justify-content: space-around;
  align-items: flex-start; }

.sectionContacto {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; }
  .sectionContacto iframe {
    width: 500px;
    height: 400px; }
  .sectionContacto .sectionContacto__info {
    font-size: 1.2em;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #343a40;
    text-align: center;
    margin: 20px; }
    .sectionContacto .sectionContacto__info i {
      padding-right: 10px;
      color: #343a40; }

.sectionFormulario {
  margin-top: 20px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center; }

form {
  color: #343a40;
  background-color: #f5f3ec;
  padding: 10px 20px;
  border-radius: 5px;
  max-width: 90%;
  margin-bottom: 40px;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 400; }

.botonSubmit {
  margin-top: 16px; }

/* FIN-PAGINA CONTACTO */
@media screen and (max-width: 600px) {
  .contacto {
    display: flex;
    flex-direction: column; }
  .sectionContacto {
    width: 100%; }
    .sectionContacto iframe {
      width: 300px;
      height: 400px; }
    .sectionContacto .sectionContacto__info {
      font-size: 1.2rem;
      margin: 10px 0;
      width: 80%; }
  .sectionFormulario {
    width: 100%;
    margin-bottom: 30px; }
    .sectionFormulario form {
      font-size: 1rem;
      font-weight: 500;
      padding: 10px;
      margin: 10px; }
    .sectionFormulario .form-group legend {
      text-align: center;
      font-size: 1.25rem; }
    .sectionFormulario .botonSubmit {
      text-align: center; } }
