@import "variables";
@import "shared";

/* INCIO-PAGINA CONTACTO */

.sectionContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;   

    iframe {
        width: 500px;
        height: 400px;
    }

    .sectionContacto__info {
        font-size: 20px;
        font-family: $fuente;
        font-weight: $normal;
        color: $gris-oscuro;
        text-align: center;
        margin: 20px;
    }
}

.sectionFormulario {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    @include colores;          /* MIXIN */
    padding: 10px 20px;
    border-radius: 5px;
    max-width: 90%;
    margin-bottom: 40px;
    font-family: $fuente;
    font-size: 16px;
    font-weight: $normal;
}

.botonSubmit {
    margin-top: 1rem;
}

/* FIN-PAGINA CONTACTO */


@media screen and (max-width: 768px) {

    .sectionContacto {
        width: 100%;

        iframe {
            width: 300px;
            height: 400px;
        }

        .sectionContacto__info {
            font-size: 18px;
            margin: 10px;
            width: 80%;
        }
    }

    .sectionFormulario {
        width: 100%;
        margin-bottom: 30px;

        form {
            font-size: 14px;
            font-weight: $negrita;
            padding: 10px;
            margin: 10px;
        }
    }
}