@import "variables";

/* INCIO-PAGINA CONTACTO */

.sectionContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;    
}

.sectionContacto__info {
    font-size: 22px;
    color: gray;
    margin: 20px;
}

.probando {
    display: flex;
}

form {
    background-color: #f7f7f9;
    padding: 1.5rem 2rem;
    border-radius: 5px;
}

.botonSubmit {
    margin-top: 1rem;
}

/* FIN-PAGINA CONTACTO */
