@import "variables";

/* INICIO-PAGINA INDEX */

.inicio {
    margin-top: 100px;
    height: 500px;
    background-image: url(../images/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
    display: block;
    box-shadow: 0px 10px 10px -6px gray;

    .inicio__opacidad {
        position: absolute;
        margin-top: 150px;
        background-color: white;
        opacity: 0.5;
        height: 200px;
        width: 100%;
    }
    
    .inicio__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: absolute;
        margin-top: 180px;

        p {
            font-family: $fuente;
            font-weight: $negrita;
            font-size: 2.3rem;
            color: $gris-oscuro;
        }

        .btn {
            box-shadow: 0px 10px 10px -6px gray;
            a {
                font-family: $fuente;
                color: white;
                text-decoration: none;
            }
        }

        .btn:hover {
            transform: scale(1.1);
        }
    }
}

.descripcionPuro {
    display: flex;
    margin: 0 20px 20px 20px;
    padding: 30px;
    @include colores;    
    box-shadow: 0px 10px 10px -6px gray;

    .descripcionPuro__imagen {
        width: 50%;
    
        img {
            filter: drop-shadow(5px 5px 10px #444);
            max-width: 80%;
            height: auto;
            text-align: center;
            display: block;
            margin: auto;
        }
    }

    .descripcionPuro__parrafo {
        width: 50%;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    
        p {
            font-size: 1.2rem;
            font-family: $fuente;
            font-weight: $negrita;
            line-height: 40px;
        }

        .btn {
            box-shadow: 0px 10px 10px -6px gray;

            a {
            color: white;
            text-decoration: none;
            }
        }
    }
}

.animate__animated .animate__fadeInLeftBig {
    animation-iteration-count: 1; 
}

.animate__animated .animate__fadeInRightBig {
    animation-iteration-count: 1; 
}

.animate__animated .animate__backInRight {
    animation-iteration-count: 1;
}

.animate__animated .animate__backInLeft {
    animation-iteration-count: 1;
}

.comoHagoMiPedido {
    @include colores;    
    box-shadow: 0px 10px 10px -6px gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    margin: 0 20px 20px 20px;

    .comoHagoMiPedido__iconos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
    }
    
    h3 {
        text-align: center;
        font-size: 1.4rem;
        font-family: $fuente;
        font-weight: $negrita;
    }

    .iconos {
        font-size: 5rem;
        padding-bottom: 20px;
    }
}

/* FIN-PAGINA INDEX */


/* INICIO MEDIA QUERIES INDEX */

@media screen and (max-width: 768px) {
    
    .inicio {

        .inicio__info {
        
            p {
               font-size: 1.7rem; 
            }
        }
    }

    .descripcionPuro {       
        width: 90%;
        padding: 20px;
        display: flex;
        flex-direction: column;

        .descripcionPuro__imagen {
            width: 100%;

            img {
                width: 100%;
                height: auto; 
                display: block;  
                margin: auto;                     
            }
        }

        .descripcionPuro__parrafo {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        
            p {
                text-align: center;
                font-size: 1rem;
                font-family: $fuente;
                font-weight: $normal;
                padding-top: 20px;
            }

            button {
                margin: 5px 0;
            }
        }
    }

    .comoHagoMiPedido {
        display: flex;
        flex-direction: column;
        align-items: space-around;

        h3 {
            font-size: 1.2rem;
        }

        div {
            padding: 5px 0 10px 0;
        }

        .comoHagoMiPedido__iconos {
            font-size: 4rem;
        }
    }
}

/* FIN MEDIA QUERIES INDEX */