@import "variables";
@import "shared";

/* INICIO-PAGINA PRODUCTOS */

.subtitulosProductos {
    font-size: 20px;
    font-weight: $negrita;
    text-align: center;
    padding-top: 10px;
}

.ingredientes, .precio {
    font-size: 18px;
    font-family: $fuente;
    text-align: center;
}

.ingredientes {
    font-weight: $normal;
    padding: 0 15px;
}

.precio {
    font-weight: $negrita;
}

.seccionProductos {
    @include colores;      /* MIXIN */
    margin: 0 20px;

    div {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.imgBarras {
    width: 500px;
    height: 330px;
}

.listaBarras {
    list-style: none;
}

/* FIN-PAGINA PRODUCTOS */

/* MEDIA QUERIES PRODUCTOS */


@media screen and (max-width: 768px) {

.imgBarras {
    width: 320px;
    height: auto;
}

}