@import "variables";

/* GENERAL */

*{
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

main {
    margin-top: 105px;
    margin-bottom: 50px;
}

/* FIN GENERAL */


/* INICIO-HEADER */

header, .navbar {
    background-color: white;
}

.navbar {
    box-shadow: 0px 0px 40px rgb(128, 128, 128);

    .navbar-nav li {
        padding: 0 24px;
        font-family: $fuente;
        font-size: 1.25rem;
        font-weight: $negrita;

        .active {
            border-bottom: 3px solid $gris-oscuro;
        }

    }

    .navbar-brand:hover {
        transform: scale(1.1);
        transition: all 0.5s;
    }
}

.navbar-nav li a:hover {
    transform: scale(1.1);
    border-bottom: 3px solid $gris-oscuro;
    transition: all 0.5s;
}

nav span {
    font-size: 1.25rem;
    font-family: $fuente;
    font-weight: $normal;
    color: $gris-oscuro;
}

/* FIN-HEADER */


/* INICIO-FOOTER */

footer {
    @include colores-reverse;
    width: 100%;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    margin-left: 0;

    p {
        font-size: 1rem;
        text-align: center;
        padding-top: 10px;
        font-family: $fuente;
        font-weight: $normal;
    }

    .footerSecciones {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 33%;
        height: 80%;
        font-family: $fuente;

        #suscribirse {
            padding-bottom: 30px;
        }
        
        img {
            width: 40%;
            height: auto;
        }
    
        a {
            font-size: 3rem;
            padding: 0 10px;
            color: white;

            i:hover {
                transform: scale(1.1);
            }
        }
    
        h3 {
            font-size: 1.2rem;
            font-family: $fuente;
            text-align: center;
            font-weight: $normal;
            padding-top: 20px;
            line-height: 30px;
        }
    }    

    .modal-title, .modal-body {
        font-size: 1rem;
        font-family: $fuente;
        color: $gris-oscuro;
    }
}

/* FIN-FOOTER */


/* SUBTITULOS COMPARTIDOS */

.subtitulos {
    @include colores-reverse;
    margin: 25px 0;
    box-shadow: 0px 10px 10px -6px gray;

    h2 {
        font-family: $fuente;
        font-weight: $negrita;
        font-size: 1.8rem;
        text-align: center;
        padding: 5px 0;
    }
}

/* FIN SUBTITULOS COMPARTIDOS */

/* BOTONES COMPARTIDOS */

.botonWsp {
    position: fixed;
    right: 30px;
    bottom: 30px;
    border-color: #1ad03f;

    a {
        i {
            font-size: 3.5rem;
            color: white;
        }
    }

    .btn {
        background-color: #1ad03f;
        border-color: #1ad03f;
        border-radius: 50%;
        box-shadow: 0px 10px 10px -6px gray;
    }
}

.btn:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

/* FIN BOTONES COMPARTIDOS */

/* MEDIA QUERIES COMPARTIDAS */

@media screen and (max-width: 768px) {

    html {
        overflow-x: hidden;
    }

    nav span {
        font-size: 1rem;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbar-nav li:hover {
        transform: scale(1);
    }

    .subtitulos {
        margin: 25px 0;
    
        h2 {
            font-family: $fuente;
            font-weight: $negrita;
            font-size: 1.2rem;
            text-align: center;
            padding: 8px 0;
        }
    }

    footer {
        margin-top: 40px;
        display: flex;
        flex-direction: column;

        .footerSecciones {
            width: 100%;
        }

        p {
            font-size: 0.8rem;
        }
    }
}

/* FIN MEDIA QUERIES COMPARTIDAS */