*{
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

main {
    margin-top: 100px;
}

/* INICIO-HEADER */

header, .navbar {
    background-color: white;
}

.navbar-nav li {
    padding: 0 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}

.navbar-nav li:hover {
    transform: scale(1.3);
}

.navbar-brand:hover {
    transform: scale(1.2);
}

nav span {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #343a40;
}

/* FIN-HEADER */

/* INICIO-FOOTER */

footer {
    background-color: #343a40;
    width: 100%;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    p {
        color: white;
        font-size: 16px;
        text-align: center;
        padding-top: 10px;
        font-family: 'Open Sans', sans-serif;
    }

    .footerSecciones {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 33%;
        height: 80%;
        padding-top: 20px;
    
        a {
            font-size: 50px;
            color: white;
            padding: 0 10px;

            i:hover {
                transform: scale(1.1);
            }
        }
    
        h3 {
            color: white;
            font-size: 20px;
            font-family: 'Open Sans', sans-serif;
            text-align: center;
        }
    
        .footerSecciones__titulo {
            padding-bottom: 20px;
        }
    }    
}

/* FIN-FOOTER */

/* INICIO-PAGINA INDEX */


.inicio {
    margin-top: 100px;
    height: 500px;
    background-image: url(../recursos/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
    display: block;

    .inicio__opacidad {
        position: absolute;
        margin-top: 150px;
        background-color: white;
        opacity: 0.5;
        height: 200px;
        width: 100%;
    }
    
    p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 900;
        font-size: 40px;
        color: #343a40;
        position: relative;
        top: 40%;
        transform: translateY(-40%);
    }
    
    button {
        font-family: 'Open Sans', sans-serif;
        display: block;
        position: relative;
        top: 40%;
        left: 50%;
        transform: translateY(-40%) translateX(-50%);
        
        a {
            color: white;
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
        }       
    }

}


.subtitulos {
    margin: 25px 0;

    h2 {
        font-family: 'Open Sans', sans-serif;
        color: white;
        background-color: #343a40;
        font-weight: bold;
        font-size: 28px;
        text-align: center;
        border: #343a40;
        border-style: solid;
        border-width: 3px;
    }
    
}

.descripcionPuro {
    margin: 0 20px 20px 20px;
    background-color: #f5f3ec;

    .descripcionPuro__imagen {
        padding: 20px 0 20px 20px;
    
        img {
            box-shadow: 4px 0 4px 0 #999;
            margin-left: 30px;
            margin-top: 20px;
            width: 31rem;
            height: auto;
        }
    }

    .descripcionPuro__parrafo {
        padding: 20px 20px 20px 0;
        text-align: justify;
    
        p {
            font-size: 20px;
            font-family: 'Open Sans', sans-serif;
            color: #343a40;
            margin-right: 40px;  
            margin-top: 20px;
            line-height: 40px;
        }
    }

    button:hover {
        transform: scale(1.1);
    }
}

.animate__animated .animate__backInRight {
    animation-iteration-count: 1; 
}

.animate__animated .animate__backInLeft {
    animation-iteration-count: 1;
}

.comoHagoMiPedido {
    margin: 0 20px 20px 20px;
    background-color: #f5f3ec;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    h3 {
        color: #343a40;
        text-align: center;
        font-size: 1.5em;
        font-family: 'Open Sans', sans-serif;
    }

    .comoHagoMiPedido__iconos {
        font-size: 5em;
        padding-bottom: 2rem;
        color: #343a40;
    }
    
}

.botonWsp {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
    margin-right: 20px;

    a {
        text-decoration: none;
        color: white;
        font-family: 'Open Sans', sans-serif;
    }

    button:hover {
        transform: scale(1.1);
    }
}


/* FIN-PAGINA INDEX */

/* INICIO-PAGINA PRODUCTOS */

.subtitulosProductos {
    font-size: 20px;
    font-weight: bold;
    color: gray;
}

.ingredientes {
    font-size: 16px;
    color: gray;
}

.precio {
    font-size: 16px;
    color: gray;
}

.seccionProductos {
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    margin: 0 20px 20px 20px;
    background-color: #f5f3ec;

    .sectionProductos__granolas {
        text-align: center;
        width: 25%;
        font-family: sans-serif;
    }
    
}

.listaBarras {
    list-style: none;
}

/* FIN-PAGINA PRODUCTOS */

/* INICIO-PAGINA RECETIPS */

.recetip {
    display: flex;
    justify-content: center;
}

.recetip-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.recetip__img {
    width: 40%;
    justify-self: center;
}

.recetip__p {
    width: 40%;

    p {
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
    }
}

/* FIN-PAGINA RECETIPS */

/* INICIO-PAGINA PREGUNTAS FRECUENTES */

.sectionPreguntas {
    margin-top: 120px;
    height: 800px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 50px;
    margin-bottom: 50px;
}

.card-header {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.card-text {
    font-size: 16px;

    a {
        color: black;
    }   
}


/* FIN-PAGINA PREGUNTAS FRECUENTES */

/* INCIO-PAGINA CONTACTO */

.sectionContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;    
}

.sectionContacto__info {
    font-size: 22px;
    color: gray;
    margin: 20px;
}

.probando {
    display: flex;
}

form {
    background-color: #f7f7f9;
    padding: 1.5rem 2rem;
    border-radius: 5px;
}

.botonSubmit {
    margin-top: 1rem;
}

/* FIN-PAGINA CONTACTO */

/* INICIO-MEDIA QUERIES */


@media screen and (max-width: 768px) {
    html {
        overflow-x: hidden;
    }
    
    .descripcionPuro {
        width: 100vw;
        margin-right: auto;

        .descripcionPuro__imagen {
            width: 100%;
            padding: 10px;

            img {
                width: 90%;
                height: auto;
                margin: 0;
            }
        }
    }

    /* .descripcionPuro {
        height: 800px;
    }

    .descripcionPuro__imagen {
        margin: 10px 10px;
    }
    .descripcionPuro__parrafo {
        line-height: 20px;
        text-align: justify;
        margin: 10px 10px;
    }

    .inicio {
        width: 500px;
    }
    .inicio__titulo {
        font-size: 30px;
    }

    .inicioFrase {
        font-size: 1.5em;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 30px;
    }

    footer {
        display: block;
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: 100px;
    }

    footer h3 {
        font-size: 1em;
    }

    .botonWsp {
        margin-bottom: 100px;
    } */
}